<div class= "container text-center">
    <h1> About Page </h1>
    <p> We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Donec semper elit quis elit semper, porttitor varius erat rhoncus. 
    Nam sed eleifend diam, at efficitur ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras et est vitae ipsum pharetra pharetra sed a nisi. Phasellus eget felis non ipsum tempor laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean fermentum volutpat feugiat. </p>
</div>